*
{
    margin: 0;
    padding: 0;
}

html
{
    background-image: linear-gradient(to right top, #ac74a7, #8d84bd, #6a93c4, #559ebc, #5ba5ad);
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 5vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}
