@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

h1 {
    font-size: 24vw;
}

.container {
    font-family: 'Bebas Neue', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    &-green{
        background-color: green;
    }
    &-purple{
        background-color: rebeccapurple;
    }
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// ONCE

.home-once {
    opacity: 0;
}
.home-once-active {
    transition: opacity 1s ease-in-out;
}
.home-once-to {
    opacity: 1;
}

// FADE

.fade-leave {
    opacity: 1;
}
.fade-leave-active {
    transition: opacity 1s ease-in-out;
}
.fade-leave-to {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    transition: opacity 1s ease-in-out;
}
.fade-enter-to {
    opacity: 1;
}
