@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 599px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 600px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }


*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:  #FAF5BD;
    color: #51CEBC;
    letter-spacing: 1.5px;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


footer {
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;

    img {
        padding: 0 48px 48px 48px;
        height: 100px;

        @include for-size(phone-only) {
            height: 40px;
         }
    }

    .copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .up {
            color: white;
            margin-bottom: 30px;
        }

        .down {
            color: #2b2d42;
        }

        @include for-size(phone-only) {
            display: none;
         }
    }

}


header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    padding-top: 24px;

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 50%;
        padding-top: 24px;
        text-transform: uppercase;
        transform: translate(50%);

        @include for-size(phone-only) {
            display: none;
         }
    }

    .container {
        display: flex;
        justify-content: space-between;

        @include for-size(phone-only) {
            flex-direction: row;
         }

        ul {
            padding-left: 48px;
            li {

                &:nth-child(1) {
                    font-weight: 700;
                }


                display: inline-block;
                margin-right: 30px;

                &:hover {
                    color: #5D5779;
                }
                cursor: pointer;
                transition: all 0.2s ease-in-out;

                @include for-size(phone-only) {
                    display: block;
                 }
            }
        }

        .cta {
            button {
                background-color: #51CEBC;
                color: white;
                border: none;
                padding: 16px 48px;
                font-size: 16px;
                font-weight: 700;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                margin-right: 48px;

                &:hover {
                    background-color: #9CFF57;
                }
            }

            @include for-size(phone-only) {
                margin-right: -20px;
             }
        }
    }
}

.ml {
    position: absolute;
    transform: rotate(-90deg);
    top: 175px;

    span {
        color: #9CFF57;
    }
}

.store {
    position: absolute;
    transform: rotate(-90deg);
    top: 400px;
    right: 0;

    span {
        color: #9CFF57;
    }

    @include for-size(phone-only) {
        right: -30px;
     }
}
