*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    border: 2px solid #ccc;
    width: 100%;
    // min-height: 100vh;
    justify-content: center;
    flex-direction: column;

    .box {
        justify-content: center;
        border: 1px solid #ccc;
        display: flex;
    }
}

.weird-gliches {
    polyline, line {
        fill: rgb(216, 216, 216);
        stroke: rgb(0, 0, 0);
        stroke-width: 22px;
        stroke-linejoin: miter;
        stroke-linecap: square;
    }

    line {
        //opacity:0.1;
    }

    svg {
        width:500px;
    }
}

.tspan {
    svg {
        width:400px;
    }
}

.char {
    .demo {
        border:1px solid #333;
        width:45vmax;
        margin:50px;
        overflow:hidden;
    }
}

