@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
  overflow-x: hidden;
	font-family: 'Bebas Neue', cursive;
}

.scroller {
	z-index:3;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 50%;
  bottom: 4%;
  transform: translate(-50%, 0);
  visibility: hidden;
  svg {
    width: 4vmin;
    height: auto;

    polygon {
      animation: scroll 1s ease-in alternate-reverse infinite;
    }
    &:nth-child(2) {
      transform: translate(0, -1vmin);
      polygon {
        animation-delay: 0.33s;
      }
    }
    &:nth-child(3) {
      transform: translate(0, -2vmin);
      polygon {
        animation-delay: 0.66s;
      }
    }
  }
}

@keyframes scroll {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.section {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: relative;
  display: inline-block;

	&__content {
    padding: 4vmin;
    position:fixed;
    color:black;
    z-index: 2;
    top:0;
    height: calc(100vh - 8vmin);
    width: calc(100vw - 8vmin);
    display: flex;
    flex-direction: column;

    svg {
      visibility: hidden;
    }

    .title {
      font-size: 54px;
      font-weight: bold;
    }

		.blink {
      &:after {
        animation: blink 1s steps(5, start) infinite;
      }
    }

		.editing {
      &:after {
        content: "_";
      }
    }
	}
}

canvas {
  position:fixed;
  top: 0;
}


.info {
	height: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	&__row {
		display: flex;
		flex-grow: 1;
		height: 50%;

		> div {
			flex-grow: 1;
			width:100%;
		}

		.coords {
			font-size: 24px;
			> div {
				&:last-child {
					height: calc(100vh/2 - 4vmin - 114px);
					width:100%;
				}
			}
		}

		.image-container {
			border: 2px solid black;
			visibility: hidden;
			overflow: hidden;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 100%;

			.image {
				width: 100%;
				display: block;
			}
		}

		.left {
			left: 20%;
		}
	}
}

.buy {
	position: fixed;
	right: 40px;
	bottom: 40px;
	z-index: 2;
	visibility: hidden;

	button {
		background: black;
		color: white;
		padding: 20px;
		border-radius: 20px;
		text-transform: uppercase;
		border: none;
		transition: background 0.4s ease-in-out;
		border: 1px solid white;
		cursor: pointer;

		&:hover {
			background: white;
			border: 1px solid black;
			color: black;
		}
	}
}


.logo{
	position: fixed;
	top: 40px;
	right: 40px;
	font-size: 24px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: right;
}
