@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
  overflow-x: hidden;
	font-family: 'Bebas Neue', cursive;
}

.scroller {
	z-index:3;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 50%;
  bottom: 4%;
  transform: translate(-50%, 0);
  visibility: hidden;
  svg {
    width: 4vmin;
    height: auto;

    polygon {
      animation: scroll 1s ease-in alternate-reverse infinite;
    }
    &:nth-child(2) {
      transform: translate(0, -1vmin);
      polygon {
        animation-delay: 0.33s;
      }
    }
    &:nth-child(3) {
      transform: translate(0, -2vmin);
      polygon {
        animation-delay: 0.66s;
      }
    }
  }
}

@keyframes scroll {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.section {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: relative;
  display: inline-block;

	&__content {
    padding: 4vmin;
    position:fixed;
    color:black;
    z-index: 2;
    top:0;
    height: calc(100vh - 8vmin);
    width: calc(100vw - 8vmin);
    display: flex;
    flex-direction: column;

    svg {
      visibility: hidden;
    }

    .title {
      font-size: 54px;
      font-weight: bold;
    }

		.blink {
      &:after {
        animation: blink 1s steps(5, start) infinite;
      }
    }

		.editing {
      &:after {
        content: "_";
      }
    }
	}
}

canvas {
  position:fixed;
  top: 0;
}

